/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
:root {
  --v-layout-left: 56px;
  --v-layout-right: 0px;
  --v-layout-top: 32px;
  --v-layout-bottom: 0px;
}

html, body, .main, .root, #root, #mount, #app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
html {
  overflow-y: hidden !important;
}
#app {
  overflow: auto;
}

.v-dialog:not(.fullscreen-active) {
  margin-top: 32px;

  .v-overlay__scrim {
    margin-top: var(--v-layout-top);
  }

  .v-card {
    box-shadow: unset;
  }
}

.v-overlay__content.flex-start {
  align-self: flex-start;
}